<a href="https://colab.research.google.com/github/srj3777/AI-Model/blob/main/multipleSuperviselearningmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
titanic_df = pd.read_csv("/content/sample_data/train.csv")

# Display the first 5 rows
print("First 5 rows of the Titanic dataset:")
print(titanic_df.head(5))

# Display a summary of the DataFrame
print("\nInformation about the Titanic dataset:")
titanic_df.info()

First 5 rows of the Titanic dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Information about the Titanic dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
import numpy as np


# 1. Calculate the mean of 'age' and fill missing values
age_mean = titanic_df['Age'].mean()
titanic_df['Age'] = titanic_df['Age'].fillna(age_mean)

# 2. Find the mode of 'embarked' and fill missing values
embarked_mode = titanic_df['Embarked'].mode()[0]
titanic_df['Embarked'] = titanic_df['Embarked'].fillna(embarked_mode)


# 3. Drop the 'Name', PasssengerId and Cabin  column if it exists
if 'Name' in titanic_df.columns:
    titanic_df.drop('Name', axis=1, inplace=True)

if 'Cabin' in titanic_df.columns:
    titanic_df.drop('Cabin', axis=1, inplace=True)

if 'PassengerId' in titanic_df.columns:
    titanic_df.drop('PassengerId', axis=1, inplace=True)


# 4. Verify that all missing values have been handled
print("\nMissing values after handling:")
print(titanic_df.isnull().sum())

#5. Encode Sex and Embraked
le = LabelEncoder()


titanic_df['Sex_encoded'] = le.fit_transform(titanic_df['Sex'])

titanic_df['Embarked_encoded'] = le.fit_transform(titanic_df['Embarked'])

titanic_df.head(5)

Missing values after handling:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_encoded,Embarked_encoded
0,0,3,male,22.0,1,0,A/5 21171,7.2500,S,1,2
1,1,1,female,38.0,1,0,PC 17599,71.2833,C,0,0
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S,0,2
3,1,1,female,35.0,1,0,113803,53.1000,S,0,2
4,0,3,male,35.0,0,0,373450,8.0500,S,1,2

In [ ]:
from sklearn.model_selection import train_test_split

# 1. Define features (X) and target (y)
y = titanic_df['Survived']
X = titanic_df[['Pclass', 'Sex_encoded', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_encoded']]

# 2. Identify categorical columns and apply one-hot encoding
categorical_cols = X.select_dtypes(include=['object', 'category', 'bool']).columns
print(categorical_cols)
X = pd.get_dummies(X, columns=categorical_cols, drop_first=True)

# 3. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)
print("\nFirst 5 rows of preprocessed X:")
print(X.head())

Index([], dtype='object')
Shape of X_train: (712, 7)
Shape of X_test: (179, 7)
Shape of y_train: (712,)
Shape of y_test: (179,)

First 5 rows of preprocessed X:
   Pclass  Sex_encoded   Age  SibSp  Parch     Fare  Embarked_encoded
0       3            1  22.0      1      0   7.2500                 2
1       1            0  38.0      1      0  71.2833                 0
2       3            0  26.0      0      0   7.9250                 2
3       1            0  35.0      1      0  53.1000                 2
4       3            1  35.0      0      0   8.0500                 2

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate the Decision Tree Classifier
#dtc = DecisionTreeClassifier(max_depth=5,min_samples_split=2,min_samples_leaf=3,criterion='gini', random_state=42)
dtc = DecisionTreeClassifier(random_state=42)

# Train the model
dtc.fit(X_train, y_train)

print("Decision Tree Classifier trained successfully.")

Decision Tree Classifier trained successfully.

In [ ]:
from sklearn.metrics import accuracy_score

# Make predictions on the test set
y_pred = dtc.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print(f"Model Accuracy: {accuracy:.4f}")

Model Accuracy: 0.7933

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

print("Initializing and training Random Forest model...")

# Instantiate a Random Forest Classifier model
# n_estimators is the number of trees in the forest
# random_state for reproducibility
random_forest_model = RandomForestClassifier(n_estimators=150, random_state=42)

# Train the model on the training data
random_forest_model.fit(X_train, y_train)
print("Random Forest model trained successfully.")

print("Making predictions on the test set...")
# Make predictions on the test set
y_pred_rf = random_forest_model.predict(X_test)

print("Calculating accuracy...")
# Calculate the accuracy of the model
accuracy_rf = accuracy_score(y_test, y_pred_rf)

print(f"Random Forest Model Accuracy: {accuracy_rf:.4f}")

https://github.com/s3achan/Titanic-Survival-Eda/blob/main/Titanic-Project-DecisionTree-Stratify-N.ipynb

Initializing and training Random Forest model...
Random Forest model trained successfully.
Making predictions on the test set...
Calculating accuracy...
Random Forest Model Accuracy: 0.8156

In [ ]:
##What n estimators do in RF? estimator define number of tree used in  RF, each tree are bootstrap totrain on dataset
  ##Number of trees in the forest.More trees more stable and accurate predictions.Each tree votes, and the majority decides the final outcome.
#What is hyperplane in svm?--decision boundary speperate the classes
 #The decision boundary that separates classes.2D line, 3D plane, higher dimensions hyperplane.SVM finds the hyperplane with the largest margin between classes.
# SVM kernel used for multiclassification data
#What is bagging?
  #to reduce variance and prevent overfitting RF

#ensemble model--bagging,boosting,stacking
#What is k in knn?
    #In KNN, k is the number of nearest neighbors considered when classifying a new point. The new point is assigned the most common class among its k neighbors. A small k can make the model sensitive to noise, while a large k produces smoother, more generalized predictions.

#How to find linear relationship of features?

SyntaxError: invalid syntax (ipython-input-480629167.py, line 2)