<a href="https://colab.research.google.com/github/srj3777/AI-Model/blob/main/Zscore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

data = np.array([10, 12, 15, 18, 20,37,29,32])

In [4]:
mean = np.mean(data)
print(mean)
std = np.std(data)
print(std)

#use mathmetical formul to caluclate Zscores
z_scores = (data - mean) / std
print(z_scores)

21.625
9.259285879591364
[-1.25549639 -1.03949701 -0.71549794 -0.39149887 -0.1754995   1.66049523
  0.79649771  1.12049678]

In [5]:
##Zscore using using SciPy
from scipy.stats import zscore

z_scores_inbuilt = zscore(data)

print(z_scores_inbuilt)

[-1.25549639 -1.03949701 -0.71549794 -0.39149887 -0.1754995   1.66049523
  0.79649771  1.12049678]

In [3]:
##to calculte zscore on titanic train data

import pandas as pd
from scipy.stats import zscore

# Load data
df = pd.read_csv("/content/drive/MyDrive/LAB/train.csv")
df
# Applicable numeric columns
num_cols = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

# Calculate z-scores
zscore_df = df[num_cols].apply(zscore, nan_policy='omit') ##omitting null values



## to copy zscore to original df
df[num_cols] = zscore_df

print(df.head())

   PassengerId  Survived    Pclass  \
0            1         0  0.827377
1            2         1 -1.566107
2            3         1  0.827377
3            4         1 -1.566107
4            5         0  0.827377

                                                Name     Sex       Age  \
0                            Braund, Mr. Owen Harris    male -0.530377
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.571831
2                             Heikkinen, Miss. Laina  female -0.254825
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.365167
4                           Allen, Mr. William Henry    male  0.365167

      SibSp     Parch            Ticket      Fare Cabin Embarked
0  0.432793 -0.473674         A/5 21171 -0.502445   NaN        S
1  0.432793 -0.473674          PC 17599  0.786845   C85        C
2 -0.474545 -0.473674  STON/O2. 3101282 -0.488854   NaN        S
3  0.432793 -0.473674            113803  0.420730  C123        S
4 -0.474545 -0.473674            373450 -0.486337   NaN        S